@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

body {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  gap: 60px 60px;
}
.card {
  margin: 5px;
  padding: 15px;
}

button {margin-top: 10px; margin-bottom: 10px;}
#app {
  grid-column: 2;
}
