;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [nilenso/wscljs "0.2.0"]
                [http-kit "2.5.0"]
                [com.taoensso/sente "1.16.0"] 
                [rum "0.12.3"]
                [quil "3.1.0"]
                [keybind "2.2.0"]
                [music-theory "0.3.1"]
                [leipzig "0.10.0"]]

 :npm-deps {"supabase" "0.0.3"
            "@supabase/supabase-js" "1.1.2"
            "p5" "1.1.9"
            "tone" "^14.7.58"
		        "beet.js" "^1.8.0"
}
 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :compiler-options {:output-feature-set :es7}
        :modules
        {:main
         {:entries [supabase]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load rum-workshop.core/stop
         ;; after live-reloading finishes call this function
         :after-load rum-workshop.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}
        }}}
